.booking-section {
    display: flex;
    gap: 2rem 1rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    flex-direction: row;
}

.booking-article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
}

.booking-title {
    color: rgb(39, 126, 132);
    font-size: 2rem;
    font-weight: 800;
}

.booking-row {
    display: flex;
    flex-direction: row;
    padding-bottom: 1rem;
}

.column {
    flex-basis: 50%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 1rem;
}

.booking-img {
    width: 100%;
}

.booking-title{
    font-size: 3rem;
}

.slogan {
    text-align: center;
}

@media screen and (max-width: 768px) {
    .booking-section {
        flex-direction: column;
    }

    .booking-article {
        margin-left: 0;
        margin-right: 0;
    }

    .column {
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }

    .booking-row {
        flex-direction: column;
        width: 100%;
    }
}