.about-section {
    display: flex;
    gap: 2rem 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    flex-direction: row;
}

article {
    border: 1px solid #EDEFEE;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 5%;
    margin-right: 5%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    padding-bottom: 1rem;
}

.about-title {
    font-size: 3rem;
}

.column {
    flex-basis: 50%;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.column figure {
    padding: 0px 12px;
}

@media screen and (max-width: 768px) {
    .about-section {
        flex-direction: column;
    }

    .row {
        flex-direction: column;
        width: 100%;
    }
    
    .about-img {
        width: 100%;
    }
}